.player-container {
    position: relative;
    width: 640px;
    height: 360px;
    margin: 50px auto;
    background: #000;
}

/* La cortina negra */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Esto oculta el video */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10; /* Asegura que esté por encima */
}

.controls button {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
}
